@font-face {
  font-family: "iconfont"; /* Project id 3133893 */
  src: url('./iconfont.woff2?t=1643784758561') format('woff2'),
       url('./iconfont.woff?t=1643784758561') format('woff'),
       url('./iconfont.ttf?t=1643784758561') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-bofang:before {
  content: "\e624";
}

.icon-sousuo:before {
  content: "\e600";
}

.icon-wangyiyunyinle:before {
  content: "\e675";
}

